<div class="navbar navbar-fixed-top">
	<img class="logo" src="styles/img/logo_red.png">
</div>
<div class="container" align="center">
	<div class="row">
	 	<img class="happy" src="styles/img/happy.png">
	 	<h2 class="happycaption">Yay! Looks like you know your way around {{chosenDistrict.name}} BUT does that make you a Pro?</h2>
	</div>

	<div class="row">
		<input class="btn-playagain" type="submit" value="Next Level" ng-click="goToSounds()">
		<input class="btn-giveup" type="submit" value="I give up" ng-click="giveUp()">
	</div>
</div>